<nav class="navbar main-nav">
  <div class="container">
    <img src="http://datawire.io/img/datawire-logo.svg" alt="datawire logo" class="logo">
    <img src="{{ "/images/playbook-icon.png" | prepend: site.baseurl }}" alt="datawire-docs" class="docs-icon" />
  </div>
</nav>

<!-- Static navbar -->
<nav class="navbar small-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ol class="toc">
        {% for item in site.data.playbook %}
        {% assign item_url = item | prepend:"/playbook/" | append:"/" %}
        {% assign p = site.playbook | where:"url",item_url | first %}
        {% if item_url == page.url %}
        {% assign show_subs = 'true' %}
        {% assign c = "active" %}
        {% else %}
        {% assign c = "" %}
        {% assign show_subs = 'false' %}
        {% endif %}
        <li class="{{c}}"><span class="toc-heading title {{c}}"><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></span>
          {% if show_subs == 'true' %}
          <ol>
            {% for anchor in p.anchors %}
            <li><a href="{{ site.baseurl }}{{ p.url }}#{{anchor.name}}">{{anchor.title}}</a></li>
            {% endfor %}
          </ol>
          {% endif %}
        </li>
        {% endfor %}
      </ol>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
