<ol class="toc ui.menu accordion">
  {% for item in site.data.playbook %}
    {% assign item_url = item | prepend:"/playbook/" | append:"/" %}
    {% assign p = site.playbook | where:"url",item_url | first %}
    {% if item_url == page.url %}
      {% assign c = "active" %}
    {% else %}
      {% assign c = "" %}
    {% endif %}
  <li><span class="toc-heading title {{c}}"><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}<i class="dropdown icon"></i></a></span>
    <ol class="content">
      {% for anchor in p.anchors %}
      <li class="list-group-item"><a href="{{ site.baseurl }}{{ p.url }}#{{anchor.name}}">{{anchor.title}}</a></li>
      {% endfor %}
    </ol>
  </li>
  {% endfor %}
</ol>
