<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% include header.html %}

  <div class="page-content">
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class= "col-md-3 sidenav">
            {% include sidenav.html %}
          </div>
          <div class="col-md-9">
            <div class="main-content">
              {{content}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include footer.html %}

</body>

</html>
